$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

@import "../bower_components/fancyBox/source/jquery.fancybox.css";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.no-left-padding{
    padding-left:0;
}
.backgroundSwap{
    div[class*="col-sm-"]{
     padding:0;
    }
}
#toBeSwissed{
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
    display: block;
    font-family: 'Helvetica';
    font-size: 26px;
    //margin: 0 auto 0px;
    //padding: 15px 10px 10px 10px;
    text-align: center;
    //width: 500px;
    width:100%;
    outline: none;
}
#swissmaker{
    margin:20px 0;
}
#poster {
    //background: black;
    background-image: url('../images/posters/black.jpg');
    //background-size: 640px 690px;
    background-size: 100%;
    //width: 510px;
    //height: 670px;
    //float: left;
    //margin-top: 5px;
    vertical-align: bottom;
    overflow: hidden;
    box-shadow: 1px 1px 6px #666;
    border: 5px solid #fff;
    //margin-left: 10px;
    min-height: 635px;

    #posterContents {
        color: #fff;
        font-size: 50px;
        margin: 200px 0 0 25px;
        width: 320px;
        font-family: 'Helvetica';
        font-weight: bold;
    }
}
#footerGallery{
    color: #fff;
    height: 100px;
    background: rgba(60,60,60,0.9);
    box-shadow: 0 -1px 5px #555;
    position: fixed;
    width:100%;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 10px;
    margin:0;
    img{
        height:80px;
        margin-right: 10px;
    }
}
#saveArea{
   display: none;
}
#swiss-poster{
    display: block;
    text-align: center;
    font-size: 5em;
}
canvas#saveCanvas{
    width:635px;
    height:635px;
}