<div class="col-sm-9">
	<h3>We believe that Anyone Can Swiss.</h3>
	<p>
	The gloves are off. It has been suggested that our environment is over-saturated with use of Helvetica. Some have even suggested that Helvetica is a complete design cop-out. Others would say that Helvetica and associated signage are beautiful works of art that requires hours at the computer, slaving over letter spacing. This project suggest that perhaps Helvetica posters are so extremely formulaic that perhaps a monkey (or a computer) could do it? This is an experiment in design discourse.
	</p>
	<p>
	The jury is still out.
	</p>
	<p>
	Test it for yourself. Make a poster using Anyone Can Swiss. EVERY poster generated on our site is added to our gallery. Posters are updated to the gallery in a window of 3 minutes to 24 hours (depending on how busy the server is). Do you LOVE your poster? Visit our flickr page and comment your name and url to your poster. Also, we will be posting pieces NOT created with ACS but by "real" designers.
	</p>
	<p>
	We leave it to you to guess which is which.
	</p>
	<p>
	* brought to you by Dirk+Weiss.
	</p>
</div>
