<div class="col-sm-7">
	<header>
		<form action="" id="swiss-form">
			<input type="text" id="toBeSwissed" placeholder="Type text here and press Swissify!"/>
			<div class="col-md-12 text-center">
				<button id="swissmaker" class="btn btn-default" type="submit">Swissify!</button>
			</div>
		</form>
	</header>
	<div id="poster" class="col-md-12">
		<div id="posterContents"></div>
	</div>
</div>
<div class="col-sm-2">
	<div class="backgroundSwap">
		<h4>Choose a Background</h4>
		<div class="col-sm-6">
			<img src="images/posters/1.jpeg" class="img-responsive"/>
			<img src="images/posters/8.jpeg" class="img-responsive"/>
			<img src="images/posters/2.jpeg" class="img-responsive"/>
			<img src="images/posters/7.jpeg" class="img-responsive"/>
		</div>
		<div class="col-sm-6">
			<img src="images/posters/3.jpeg" class="img-responsive"/>
			<img src="images/posters/4.jpeg" class="img-responsive"/>
			<img src="images/posters/5.jpeg" class="img-responsive"/>
			<img src="images/posters/6.jpeg" class="img-responsive"/>
		</div>
	</div>
	<div class="col-sm-12 no-left-padding">
		<a id="downloadPoster" class="btn btn-primary disabled" role="button">Generate Downloadable Poster</a>
		<a id="addToGallery" class="btn btn-primary" role="button">Save To Gallery</a>
		<a href="SwissPoster.png" id="hiddenPosterDownloadLink">Hidden Download Link</a>
	</div>
</div>
<div id="saveArea">
	<canvas id="saveCanvas" height="600" width="600"></canvas>
</div>
<div class="modal fade" id="downloadModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Download Your Poster</h4>
			</div>
			<div class="modal-body">
				<a id="swiss-poster" href="SwissPoster.png" download>
					<span class="glyphicon glyphicon-cloud-download glyphicon-align-center" aria-hidden="true"></span>
				</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->