<div class="col-sm-9">
	Anyone Can Swiss has generated quite a significant amount of<em> buzz</em> from a variety of very interesting sources! We're averaging 400+ posters an hour! We are now making preparations to secure a shoe deal with Nike. Keep your ears to the ground for the sound of the new "<strong>ACS <em>FRESSHHH</em></strong>!"
	Much love and appreciation to the following (<em>in no particular order</em>)
	_______________________________________________________________
	2.09.2009 <a href="http://www.aisleone.net">aisleone.net >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/aisleone.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://blog.howdesign.com/Swissify+Your+Poster.aspx">How >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/how.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://www.bitique.co.uk">bitique.co.uk >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/bitique.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://www.commarts.com">commarts.com >></a>
	<img src='http://www.anyonecanswiss.com/untitled%20folder/files/commarts.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://www.visualattitudes.com/blog/article/51-swissify.html">VisualAttitudes.com >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/visualattitudes.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://swissmiss.typepad.com/weblog/2009/02/anyone-can-swiss.html">Swiss Miss >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/swissmiss.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://www.okaygreat.com/?p=806">Okay Great >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/okgreat.jpg' width='432' height='288' />
	_______________________________________________________________
	2.09.2009 <a href="http://www.iainclaridge.co.uk/blog/?p=928">Iainclaridge >></a>
	<img src='http://anyonecanswiss.com/untitled%20folder/files/iainclaridge.jpg' width='432' height='288' />
</div>