<div class="col-sm-9">
	<h3>What is Swissification?</h3>
	<p>
	"Swissification" is a patented technology. We can't really tell you much. What we can tell you is that it is absolutely FREE and 100% guaranteed to work perfect every time! To put it simply, it's an automated Helvetica poster generator.
	</p>
	<p>
	What really happens?
	</p>
	<p>
	Upon clicking the final Swi-Fi button, your message is entered through our patented swissification process. Our super computer begins its task. In milliseconds, your message is transported to a secondary processing station set up in Switzerland just west of Zurich in the town of Bern.
	</p>
	<p>
	Your message is scrutinized by our team of crusty old swiss typographers. Our ACS team quickly creates the perfect poster and then sends your message back through the super computer. At this point your message goes through its final stages of digital rendering.
	</p>
	<p>
	Your letters are divided into ones and zeros. Those ones and zeros are recalculated on a pixel level. Finally, those pixels are reprocessed as coordinates on your screen.
	</p>
	<p>
	Be sure that your message is in good hands. Our combination of super computer transportation, digitization and real typographer consultation insures a perfect poster every time.
	</p>
	<p>
	Anyone Can Swiss is GUARANTEED for 100% satisfaction!
	</p>
</div>